{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container-fluid">
<div class="row">

<div class="col-sm-4">
<div class="panel panel-default">
	<div class="panel-heading">最新文章</div>
	<div class="panel-body">
		Panel content
	</div>
</div>
</div><!--	/col	-->

<div class="col-sm-4">
<div class="panel panel-default">
	<div class="panel-heading">熱門文章</div>
	<div class="panel-body">
		Panel content
	</div>
</div>
</div><!--	/col	-->

<div class="col-sm-4">
<div class="panel panel-default">
	<div class="panel-heading">精選文章</div>
	<div class="panel-body">
		Panel content
	</div>
</div>
</div><!--	/col	-->



</div>


{{template "footer.html" .}}
