{{set . "title" (msg . "Public.Imgs")}}
{{template "root-header.html" .}}

<style type="text/css">
.mydiv{
	margin-top: 7px;
}
.myview{
	margin-top: -12px;
}
.div-title{
	text-align: center;
	font-size: 18px;
	margin-top: 3px;
}

@media screen and (min-width:768px) {
	.div-add{
		text-align: center;
	}
}
.my-btn{
	cursor: pointer;
}
.my-progress{
	margin-top: 5px;
	margin-bottom: 3px;
}
</style>

<div class="container-fluid myview">


<div class="row">
	
	<div class="col-sm-2 mydiv">
		<div class="div-title">{{msg . "Public.Imgs"}}</div>
	</div>

	<div class="col-sm-8 mydiv">
<div class="input-group div-search">
	<span class="input-group-btn">
	<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	</span>
	<input type="text" class="form-control" placeholder="搜索資源">
</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-2 mydiv div-add">

<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	{{msg . "Root.New"}}
	</button>

	<ul class="dropdown-menu">
	<li><a class="my-btn" id="idANewFolder">{{msg . "Root.Floder"}}</a></li>
	<li role="separator" class="divider"></li>
	<li><a class="my-btn" id="idANewFile">{{msg . "Root.File"}}</a></li>
	</ul>
</div>
	</div>
	<div class="col-sm-8 mydiv">
<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">Library</a></li>
	<li class="active"><a href="#">Data</a></li>
</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-2"></div>
<div class="col-md-8 mydiv">
	<table class="table" id="idViewList">
		<tr class="my-list-header">
			<th>
				<div id="idBtnSort" class="my-btn">{{msg . "Root.Source.Name"}}<span id="idViewBtnSort" class="glyphicon glyphicon-arrow-down"></span></div>
			</th>
			<th class="my-list-col-create">
				{{msg . "Root.Source.Created"}}
			</th>
			<th class="my-list-col-size">
				{{msg . "Root.Source.Size"}}
			</th>
		</tr>
	</table>
</div>
</div>

<div id="idView">
	{{.id}}	
</div>

<div id="idDialogUpload" title='{{msg . "Root.Source.UploadTitle"}}' style="display:none;">
	<p>
	<ul class="list-group" id="idViewUpload">
		<li class="list-group-item">
			<div>
				<span>blue eyes white dragon</span>
				<div class="my-upload-icons">
				<span class="glyphicon glyphicon-ok-circle my-btn"></span>
				<span class="glyphicon glyphicon-remove my-btn"></span>
				</div>
			</div>
			
			<div class="progress my-progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
				100%
			</div>
			</div>
		</li>
		<li class="list-group-item">
			<div>
				<span>blue eyes white dragon</span>
				<div class="my-upload-icons">
				<span class="glyphicon glyphicon-ban-circle my-btn"></span>
				<span class="glyphicon glyphicon-remove my-btn"></span>
				</div>
			</div>
			
			<div class="progress my-progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				60%
			</div>
			</div>
		</li>
		<li class="list-group-item">
			<div>
				<span>孤生走我路</span>
				<div class="my-upload-icons">
				<span class="glyphicon glyphicon-upload my-btn"></span>	
				<span class="glyphicon glyphicon-remove my-btn"></span>
				</div>
			</div>

			<div class="progress my-progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: 0%;">
				0%
			</div>
			</div>
		</li>
		<li class="list-group-item">
			<div>
				<span>孤生走我路</span>
				<div class="my-upload-icons">
				<span class="glyphicon glyphicon-ban-circle my-btn"></span>
				<span class="glyphicon glyphicon-remove my-btn"></span>
				</div>
			</div>

			<div class="progress my-progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: 0%;">
				0%
			</div>
			</div>
		</li>
	</ul>
	</p>
	<p>
		<input type="file" id="idInputFiles" style="display: none;" multiple="multiple" accept="image/*">
		<button id="idBtnFiles" class="btn btn-default">選擇檔案</button>
		<button id="idBtnUpload" class="btn btn-default">全部上傳</button>
	</p>
</div>

</div><!--	/container-fluid	-->
{{template "footer.html" .}}


<link rel="stylesheet" type="text/css" href="/public/js/webuploader-0.1.5/webuploader.css">
<script type="text/javascript" src="/public/js/webuploader-0.1.5/webuploader.nolog.min.js"></script>

<script src="/public/js/jquery-ui-1.12.1.custom/jquery-ui.min.js" type="text/javascript"></script>
<link href="/public/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" type="text/css" />


<script src="/public/js/jQuery-contextMenu-2.6.2/dist/jquery.ui.position.min.js" type="text/javascript"></script>
<script src="/public/js/jQuery-contextMenu-2.6.2/dist/jquery.contextMenu.min.js" type="text/javascript"></script>
<link href="/public/js/jQuery-contextMenu-2.6.2/dist/jquery.contextMenu.min.css" rel="stylesheet" type="text/css" />

{{if .DevMode}}
	<script type="text/javascript" src="/public/js/king-js/core.min.js"></script>
{{else}}
	<script type="text/javascript" src="/public/js/king-js/core.nolog.min.js"></script>
{{end}}

	<script type="text/javascript" src="/public/js/kui/msg.js"></script>
	<script type="text/javascript" src="/public/js/king-js/strings/strings.min.js"></script>
	
{{if .DevMode}}
	<script type="text/javascript" src="/public/views/Root/sourceList.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/views/Root/sourceList.css">

	<script type="text/javascript" src="/public/views/Root/upload.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/views/Root/upload.css">

	<script type="text/javascript" src="/public/views/Root/Imgs.js"></script>
{{else}}
	<script type="text/javascript" src="/public/views/Root/sourceList.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/views/Root/sourceList.css">

	<script type="text/javascript" src="/public/views/Root/upload.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/views/Root/upload.css">
	
	<script type="text/javascript" src="/public/views/Root/Imgs.min.js"></script>
{{end}}

<script type="text/javascript">
$(document).ready(function() {
	/*
	$("#idANewFolder").click(function(){
		var state = 1;
		window.history.pushState(state, null, "/Root/Imgs/" + state);
		$("#idView").text(state);
	});
	$("#idANewFile").click(function(){
		var state = 2;
		window.history.pushState(state, null, "/Root/Imgs/" + state);
		$("#idView").text(state);
	});
	window.addEventListener("popstate", function(e) {
		//state 爲 pushState 傳入的 第一個參數
		var state = e.state;
		if(!state){//state 不存在 則url 不是通過 pushState 無需處理
			return;
		}

		//更新 ajax 內容
		$("#idView").text(state);
	});
	*/
	NewPageContent({
		//翻譯
		Lange:{
			"e.title":'{{msg . "error.title"}}',
			"e.net":'{{msg . "error.net"}}',

			"Sure":'{{msg . "Sure"}}',
			"Cancel":'{{msg . "Cancel"}}',
			"Hide":'{{msg . "Hide"}}',
			
			"NewFloder":'{{msg . "Root.NewFloder"}}',
			"NewFloderName":'{{msg . "Root.NewFloderName"}}',

			"Rename":'{{msg . "Root.Rename"}}',
			"RenameNumber":'{{msg . "Root.RenameNumber"}}',
			"RenameAZ":'{{msg . "Root.RenameAZ"}}',

			"Remove":'{{msg . "Root.Remove"}}',
			"Move":'{{msg . "Root.Move"}}',

		},
		//當前 位置
		Id:'{{.id}}',
		//初始節點
		Items:[
{{range .beans}}
{
	Id:{{.Id}},
	Style:{{.Style}},
	Size:'{{sizeString .Size}}',
	Name:'{{.Name}}',
	Create:'{{dateTimeString .Create}}',
},
{{end}}
		],
	});
});
</script>